body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #F9F9F9;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

h1 {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}

p {
    padding: 15px 15px;
    margin: 0;
    color:rgb(46, 46, 46);
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
    text-align: justify;
}

span {
    font-weight: 400;
    font-size: 1.1rem;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 900px;
    flex: 1;
    padding: 20px 0;
    background-color: teal;
    color: whitesmoke;
    justify-content: center;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, .3);
}

.header__h2 {
    font-size: 1.5rem;
    margin: 0;
}
.container_content {
    padding: 0;
    max-width: 900px;
    height: 100vh;
    flex: 1;
    margin: 10px auto;
    background-color: whitesmoke;
    opacity: .7;
    border: 1px black solid;
}